/* TODO: add any application specific styling here */
#mediaReadview img {
    width: 100%;
    max-width: 100%;
}

.crud-scope-container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
}
